.main-header{
    background-color: blue;
    margin-bottom: 15px;
}
.user_info{
    height: 225px;
}
.flat_button {
    padding: 7px 16px 8px;
    margin-top: 85px;
    margin-left: 10px;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    background-color: #5181b8;
    color: #fff;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Open Sans";
}
.button_wide button, .flat_button.button_wide {
    min-width: 165px;
    padding-left: 3px;
    padding-right: 3px;
}
.flat_button:hover {
    background-color: #07356a;
    text-decoration: none;
    color: #b8babc;
}
.block_ava:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.block_ava{
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    cursor: pointer;
}
.img-ava{
    margin-top: 30px;
    width: 170px;
}
.name_user a{
    color: #2a5885;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Open Sans";
}
.name_user{
    margin-top: 80px;
    margin-left: 30px;
}

@media screen and (max-width: 575px) {
    .block_info{
        text-align: center;
    }
    .name_user{
        margin-top: 20px;
        margin-left: 0;
    }
    .flat_button{
        margin-top: 20px;
        margin-left: 0;
    }
    .img-ava{
        margin-top: 30px;
        margin-left: 0;
    }
}